{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Personal Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <header>
        <h1>Welcome to my blog</h1>
        {% if user.is_authenticated %}
          Hi {{ user.username }}!
          <a href="/accounts/logout">logout</a>
        {% else %}
          <a href="/accounts/login">login</a>
          <a href="/accounts/register">register</a>
        {% endif %}
      </header>
      <hr>
      <main>
        {% block content %}
        {% endblock %}
      </main>
      <hr>

    </body>
</html>
